In [1]:
import pandas as pd
data = pd.read_csv('play_tennis.csv')
data.head()

  day   outlook  temp humidity    wind play
0  D1     Sunny   Hot     High    Weak   No
1  D2     Sunny   Hot     High  Strong   No
2  D3  Overcast   Hot     High    Weak  Yes
3  D4      Rain  Mild     High    Weak  Yes
4  D5      Rain  Cool   Normal    Weak  Yes

0      No
1      No
2     Yes
3     Yes
4     Yes
5      No
6     Yes
7      No
8     Yes
9     Yes
10    Yes
11    Yes
12    Yes
13     No
Name: play, dtype: object

In [18]:
from sklearn.preprocessing import LabelEncoder
Labelencode = LabelEncoder()
for i in data.columns:
  data[i] = Labelencode.fit_transform(data[i])
data.head()
X = data.drop('play',axis = 'columns')
Y = data.play
print(X)

    day  outlook  temp  humidity  wind
0     0        2     1         0     1
1     6        2     1         0     0
2     7        0     1         0     1
3     8        1     2         0     1
4     9        1     0         1     1
5    10        1     0         1     0
6    11        0     0         1     0
7    12        2     2         0     1
8    13        2     0         1     1
9     1        1     2         1     1
10    2        2     2         1     0
11    3        0     2         0     0
12    4        0     1         1     1
13    5        1     2         0     0

In [17]:
from sklearn.model_selection import train_test_split
X_Train,X_Test,y_Train,y_test = train_test_split(X,Y,test_size=0.20,random_state=0)

In [19]:
print(X_Train)

    day  outlook  temp  humidity  wind
11    3        0     2         0     0
2     7        0     1         0     1
13    5        1     2         0     0
9     1        1     2         1     1
1     6        2     1         0     0
7    12        2     2         0     1
10    2        2     2         1     0
3     8        1     2         0     1
0     0        2     1         0     1
5    10        1     0         1     0
12    4        0     1         1     1

In [20]:
from sklearn.tree import DecisionTreeClassifier

clf = DecisionTreeClassifier()

clf = clf.fit(X_Train,y_Train)

#Predict the response for test dataset
y_pred = clf.predict(X_Test)

In [21]:
from sklearn.metrics import accuracy_score

print(f"accuracy : {accuracy_score(y_test,y_pred)*100}")

accuracy : 33.33333333333333